<div class="panel panel-default panel-transparent panel-accounts-summary">
    <div class="panel-heading">
        <h4>Accounts<a href="#/accounts"><i class="glyphicon glyphicon glyphicon-option-horizontal pull-right"></i></a>
                    </h4>
    </div>
    <div class="panel-body">
        <div class="panel-group accordion" id="accordion">
            <div class="panel-default" id="panel1">
                <a data-toggle="collapse" class="collapsed" data-target="#collapseOne" data-href="#collapseOne">
                    <div class="panel-heading">

                        <p class="panel-title">
                            Cash <span class="account-total pull-right">$40,177</span>
                        </p>

                    </div>
                </a>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-inline ">
                            <tr>

                                <td tooltip-html-unsafe="{{'Commonwealth Bank Streamline Account'}}">{{ 'Commonwealth Bank Streamline Account' | characters:25 }}</td>
                                <td>$3,454</td>
                            </tr>
                            <tr>
                                <td tooltip-html-unsafe="{{'ING Maxisaver Account'}}">{{ 'ING Maxisaver Account' | characters:25 }}</td>
                                <td>$36,723</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-default" id="panel2">
                <a data-toggle="collapse" class="collapsed" data-target="#collapseTwo" data-href="#collapseTwo">
                    <div class="panel-heading">
                        <p class="panel-title">Credit Cards <span class="account-total pull-right">$-13,653</span>
                        </p>

                    </div>
                </a>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td tooltip-html-unsafe="{{'28 Degrees Card'}}">{{ '28 Degrees Card' | characters:25 }}</td>
                                <td>-$5,786</td>
                            </tr>
                            <tr>

                                <td tooltip-html-unsafe="{{'Commonwealth Bank Platinum Mastercard'}}">{{ 'Commonwealth Bank Platinum Mastercard' | characters:25 }}</td>
                                <td>-$7,867</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-default" id="panel3">
                <a data-toggle="collapse" class="collapsed" data-target="#collapseThree" data-href="#collapseThree">
                    <div class="panel-heading">
                        <p class="panel-title">Loans <span class="account-total pull-right">-$256,435</span>
                        </p>
                    </div>
                </a>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td tooltip-html-unsafe="{{'Commonwealth Bank Variable rate Mortgage'}}">{{ 'Commonwealth Bank Variable rate Mortgage' | characters:25 }}</td>

                                <td>-$256,435</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-default" id="panel4">
                <a data-toggle="collapse" class="collapsed" data-target="#collapseFour" data-href="#collapseFour">
                    <div class="panel-heading">
                        <p class="panel-title">Property <span class="account-total pull-right">$607,000</span>
                        </p>
                    </div>
                </a>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td tooltip-html-unsafe="{{'Smith Street'}}">{{ 'Smith Street' | characters:25 }}</td>
                                <td>$607,000</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-default" id="panel5">
                <a data-toggle="collapse" class="collapsed" data-target="#collapseFive" data-href="#collapseFive">
                    <div class="panel-heading">
                        <p class="panel-title">Investments <span class="account-total pull-right">$87,345</span>
                        </p>
                    </div>
                </a>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td tooltip-html-unsafe="{{'BT Wrap'}}">{{ 'BT Wrap' | characters:25 }}</td>
                                <td>$87,345</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-default" id="panel6">
                <a data-toggle="collapse" class="collapsed" data-target="#collapseSix" data-href="#collapseSix">
                    <div class="panel-heading">
                        <p class="panel-title">Superannuation <span class="account-total pull-right">$280,666</span>
                        </p>
                    </div>
                </a>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td tooltip-html-unsafe="{{'Colonial First State FC Employer Super'}}">{{ 'Colonial First State FC Employer Super' | characters:25 }}</td>

                                <td>$156,324</td>
                            </tr>
                            <tr>
                                <td tooltip-html-unsafe="{{'MLC Masterkey Super'}}">{{ 'MLC Masterkey Super' | characters:25 }}</td>
                                <td>$124,342</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-default" id="panel7">
                <a data-toggle="collapse" class="collapsed" data-target="#collapseSeven" data-href="#collapseSeven">
                    <div class="panel-heading">
                        <p class="panel-title">Other assets <span class="account-total pull-right">$40,000</span>
                        </p>
                    </div>
                </a>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td tooltip-html-unsafe="{{'Physical Gold'}}">{{ 'Physical Gold' | characters:25 }}</td>

                                <td>$40,000</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <small class="pull-right">Last synchronised 09/03/15</small>
        </div>
    </div>
</div>